*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}


.container{
    padding-left: 10%;
    padding-right: 10%;
}

.btn{
    padding: 10px 20px;
    background-color: #ff8383;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    /* display: flex; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn{
        padding: 7px 15px;
    }
}

